/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  background-color: #293c4b;
  color: #fff;
  height: 100%;
}

h1 {
  font-size: 30px;
}

.message {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home__form {
  display: flex;
  flex-direction: column;
}

.home__player-name, .home__game-name, .home__join-game {
  padding: .6em;
}

.home__player-name {
  border-radius: .4em .4em 0 0;
}

.home__player-name, .home__game-name {
  color: #293c4b;
  background: #fff;
  border: none;
  border-bottom: .08em solid currentColor;
}

.home__game-name {
  text-align: right;
}

.home__join-game {
  color: #293c4b;
  background: #eaeaea;
  border: none;
  border-radius: 0 0 .4em .4em;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .75em;
}

.home__join-game:hover, .home__join-game:focus, .home__join-game:active {
  color: #eaeaea;
  background: #3b566c;
}

.players {
  flex-grow: 1;
  overflow-y: scroll;
}

.player {
  padding: .75em;
  padding-left: 1em;
  text-align: left;
}

.player--teller {
  color: #293c4b;
  background: #eaeaea;
}

.player__name {
  display: inline-block;
}

.player__status {
  display: inline-block;
  margin-left: 1em;
  opacity: .75;
}

.player__score {
  display: inline-block;
  background: grey;
  border-radius: 50%;
  padding: .5em;
  margin-right: 1em;
  width: 1.5em;
  text-align: center;
  font-size: .8em;
}

.player--teller .player__score {
  background: #ccc;
}

.cards {
  overflow-x: scroll;
  white-space: nowrap;
  flex-shrink: 0;
}

.card {
  display: inline-block;
  width: 35vh;
  margin: .5em;
  position: relative;
}

.card--selected::before, .card--teller::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: .5em solid #eaeaea;
  border-radius: 5%;
  z-index: 1;
}

.card:not(:first-of-type) {
  margin-left: 0;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.card__playedby {
  position: absolute;
  top: .4em;
  left: .4em;
  background: #293c4b;
  padding: .5em;
  border-radius: .25em;
}

.card--teller .card__playedby {
  color: #293c4b;
  background-color: #eaeaea;
}

.card__votedforby {
  position: absolute;
  bottom: .5em;
  right: .5em;
  text-shadow: -.1em 0 .1em #000;
}

.card--teller .card__votedforby {
  bottom: 1em;
  right: 1em;
  font-weight: bold;
}

.card__voter {
  text-align: right;
  margin-top: .25em;
}

.card--disabled {
  opacity: .5;
}

.status {
  padding: 1em;
  background: #aaa;
  color: #fff;
}

.status--telling,
.status--selecting,
.status--voting {
  background: #a52a2a;
}

.status--waitingforcards,
.status--waitingforvotes,
.status--waitingforteller,
.status--results {
  background: #048b4c;
}

.status--gamefinished {
  background: #800080;
}

.next-round {
  margin-left: 1em;
  margin-top: .5em;
  font-size: 1em;
}

.progress {
  height: .5em;
}

.progress__bar {
  width: 0;
  height: 100%;
  margin: auto;
  background: #800080;
  color: transparent;
  box-shadow: 0 0 .5em #666;
  transition: width .2s;
}

.socket-closed {
  filter: grayscale();
}